<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <!-- sidebar -->
    <div class="boolzapp d-flex" id="root" >
        <div class="sideBar">
            <div class="sideHeader d-flex flex-row justify-content-between">
                <div class="avatar">
                    <img src="https://media.gettyimages.com/photos/happy-thoughtful-man-with-hands-clasped-in-balcony-picture-id1128017388?s=612x612" alt="">
                </div>
                <div class="buttonContainer d-flex flex-row justify-content-around align-items-center">
                    <div class="buttons">
                        <i class="fas fa-circle-notch"></i>
                    </div>
                    <div class="buttons">
                        <i class="fas fa-pen-square"></i>
                    </div>
                    <div class="buttons">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="search" id="search">
                <input class="searchInput" type="text" placeholder=" Cerca o inizia una nuova chat">
            </div>
    
            <!-- conversazioni -->
            <div style="cursor: pointer;" id="chats" class="container chats d-flex flex-column ">
                <div class="avatar d-flex flex-row my-1" v-for="(contact, index) in contacts"
                @click="chat(index)">
                    <img :src="contact.avatar">
                    <div class="contactInfo d-flex flex-column">
                        <h3 style="font-size: 20px;" class="contactName d-flex ">{{contact.contactName}}</h3>
                        <p  style="font-size: 15px;color: rgb(117, 117, 117);"class="msgPreview">aaaaa</p>
                       
                    </div>
                    <p style="color: rgb(117, 117, 117)" class="date">15/07</p>
                </div>

            </div>
        </div>
    
        <div class="mainSection">
            <!-- mainheader -->
            <div class="mainHeader d-flex container p-3" >
                <div class="avatar">
                    <img :src="selectedAvatar()">
                </div>
                <div class="contactInfo d-flex flex-row justify-content-between ">
                    <h3 class="contactName my-1">{{selectedName()}}</h3>
                </div>
                <div class="buttonContainer buttonContainerContact d-flex flex-row justify-content-around align-items-center">
    
                    <div class="buttons"><i class="fas fa-video"></i></div>
                    <div class="buttons"><i class="fas fa-phone-volume"></i></div>
                    <div></div>
                    <div class="buttons"><i class="fas fa-search"></i></div>
                    <div class="buttons"><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            <!-- chat -->
            <div class="chat">
                <div :class="messageFrom(index)" v-for="(selectedMessages, index) in contacts[selectedContact].message">
                    {{ selectedMessages.text }}
                    <p style="display: inline;font-size:12px;margin-left: 20px;" class="textDate">15/7</p>
                </div>
            </div>


    
    
                <div class="bottomChatSection d-flex justify-content-center align-items-center justify-content-around ">
                    <div class="buttons">
                        <i class="fas fa-smile-wink"></i>
                    </div>
                    <div class="buttons">
                        <i class="fas fa-images"></i>
                    </div>
                    <input class="chatInput" type="text" placeholder="Scrivi un messaggio" v-model="sendMessage" @keyup.enter="newMessage()">
                    <div class="buttons">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="myscript.js"></script>
</body>
</html>